//引入基础
@import "basic.less";
@import "animate.min.less";
html,body{width:100%; margin:0 auto; height:100%; overflow:hidden;}

//设计稿750px分成100份，1a=7.5px, 1rem=75px;
@base:75rem;

.imgBox{
	font-size:0;
	line-height:0;
}
img{max-width:100%;}
button{
	border:0;
	padding:0.5em 1em;
	.font(normal,14px,1.5,'Microsoft YaHei');
	background-color:darken(#fff, 10%);
	color:darken(#fff, 50%);
	&.img-btn{
		.imgBox;
	}
}
body{
	background-color:#000000;
}

//动画的定义
.goZoomIn{
  from {
  	.transform_scale3d(0.46,0.46,1);
  }
  to {
  	.transform_scale3d(1,1,1);
  }
}
@keyframes goZoomIn{ .goZoomIn}
@-moz-keyframes goZoomIn{ .goZoomIn}
@-webkit-keyframes goZoomIn{ .goZoomIn}
@-o-keyframes goZoomIn{ .goZoomIn}

//加载页面
#loading{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:200;
	background:#111011;
	.center_v;
	.loading-img{
		width:210/@base;
	}
}
#main{
	width:100%;
	height:100%;
	display:none;
	overflow:hidden;
	.playbtn{
		width:100%;
		height:100%;
		.center_v;
		background:#111011;
		img{
			width:481/@base;
			.transform_scale3d(0.46,0.46,1);
			.animation(goZoomIn,0.3s,linear,1,normal,forwards);
		}
	}
	#video-box{
		width:100%;
		height:100%;
		display:none;
		video{
			width:100%;
			height:100%;
		}
	}
}
.shrepage{
	.center_v;
	background-color:#000000;
	img{
		width:270/@base;
	}
}
.pcpage{
	.center_v;
	position:relative;
	background: url(./../imgs/pcbg.jpg) center center no-repeat;
	background-size:cover;
	.content{
		text-align:center;
		width:80%;
		padidng:0 10%;
		.logo{
			margin-bottom:2em;
		}
		.qrcode{
			max-width:80%;
			padding:0 10%;
		}
		img{
			max-width:100%;
		}
	}
	footer{
		width:100%;
		text-align:center;
		position:absolute;
		left:0;
		bottom:0;
		color:#999999;
		padding:0.3em 0;
		background-color:rgba(0, 0, 0, 0.5);
		.font(normal,14px,2,'Microsoft YaHei');
	}
}



